<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="p_payment_service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <p_payment_service.Properties.Settings>
      <setting name="Password" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>da-DK</value>
      </setting>
      <setting name="PublicKey" serializeAs="String">
        <value>cj-9U-wN-8A</value>
      </setting>
      <setting name="PrivateKey" serializeAs="String">
        <value>xD-6p-q8-bK</value>
      </setting>
      <setting name="DeviceName" serializeAs="String">
        <value>det-gronekokken</value>
      </setting>
      <setting name="Currency" serializeAs="String">
        <value>kr</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value>POS-80</value>
      </setting>
      <setting name="PosPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="PrinterPort" serializeAs="String">
        <value>COM9</value>
      </setting>
      <setting name="OrderNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="merchantId" serializeAs="String">
        <value />
      </setting>
      <setting name="terminalId" serializeAs="String">
        <value />
      </setting>
      <setting name="virtualTerminalId" serializeAs="String">
        <value />
      </setting>
      <setting name="sandbox" serializeAs="String">
        <value>False</value>
      </setting>
    </p_payment_service.Properties.Settings>
  </userSettings>
</configuration>
